@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap');

body {
  font-family: 'Titillium Web', sans-serif !important;
  height: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1860' height='223.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='0.1' stroke-opacity='0.46'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px;
  border-radius: 20px;
}

.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 50px;
}

hr.rounded {
  border-top: 6px solid whitesmoke;
  border-radius: 60px;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: transparent;
  border-top: 0px solid rgba(0, 0, 0, .125);
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.magic-badge {
  border-radius: 60px;
  background-color: #66bf66;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 1199.98px) {
  .luca-ferroni {
    display: none;
  }
}

#page-content {
  flex: 1 0 auto;
}