@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap");

body {
  font-family: "Titillium Web", sans-serif !important;
  height: 100%;
  /* background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1860' height='223.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='0.1' stroke-opacity='0.46'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(190,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23008787'/%3E%3Cstop offset='1' stop-color='%2338c0ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(96,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2324d7ff'/%3E%3Cstop offset='1' stop-color='%232162ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='9.569999999999999'%3E%3Cpath transform='translate(-1.4 -0.8) rotate(-0.8 1409 581) scale(0.994)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.19' transform='translate(-5 2) rotate(-0.4 800 450) scale(0.999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-1.4 3) rotate(-5 401 736) scale(0.999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.9'%3E%3Cpath transform='translate(12 1.2) rotate(-0.3 150 345) scale(1.002)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='6.38' transform='translate(3 -6) rotate(-7.2 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-0.8 -0.8) rotate(-1.2 1400 132) scale(0.99)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px;
  border-radius: 20px;
}

.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 50px;
}

hr.rounded {
  border-top: 6px solid whitesmoke;
  border-radius: 60px;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border-top: 0px solid rgba(0, 0, 0, 0.125);
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.magic-badge {
  border-radius: 60px;
  background-color: #66bf66;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
}

.magic-badge-actions {
  border-radius: 60px;
  background-color: #0069d9;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
}

.magic-badge-pdf {
  border-radius: 60px;
  background-color: #ffffff;
  color: #0069d9;
  padding: 12px;
  border: 2px solid;
  text-transform: uppercase;
  font-size: 14px;
}

.magic-badge-hashtag {
  border-radius: 60px;
  background-color: #ffffff;
  padding: 9px;
  font-size: 14px;
}


#spacer {
  height: 100px;
  background: transparent;
  margin: auto;
}

.politician-not-agree {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, .2);
  border-radius: 20px;
  outline: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 999999;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 0px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 0px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol>li {
  margin: 0;
  padding: 1rem 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

ol>li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.background-image {
  position: absolute;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px) opacity(15%);
}