<div class="card shadow-lg my-4">
    <img class="card-img-top" src="{{ include.img }}" alt="">
    <div class="card-body">
        <h4 class="card-title"><b>{{ include.title }}</b><a href="#"
                class="badge badge-secondary mx-2 magic-badge-pdf">PDF</a></h4>
        <p class="card-text">{{ include.subtitle }}</p>
        <a href="#" class="badge badge-secondary mx-2 magic-badge">Aderisci
            ora!</a>
    </div>
    <hr class="rounded mx-4">
    <div class="card-footer">
        <br>
    </div>
</div>