<div class="card shadow-lg my-4">
    <img class="card-img-top" src="{{ include.img }}" alt="">
    <div class="card-body">
        <h4 class="card-title"><i class="{{ include.icon }} mx-2"></i><b>{{ include.title }}</b></h4>
        <p class="card-text">{{ include.subtitle }}</p>
        <a data-toggle="modal" data-target="#exampleModal" href="#exampleModal" download
            class="badge badge-secondary mx-2 my-2 magic-badge-actions shadow"><i
                class="fas fa-hand-point-right mr-2"></i>Azioni</a>
        <a href="{{ include.mailto }}" class="badge badge-secondary mx-2 my-2 magic-badge shadow"><i
                class="fas fa-plus-circle mr-2"></i>Aderisci
            ora!</a>
        <a href="{{ include.pdf }}" download class="badge badge-secondary mx-2 mt-2 magic-badge-pdf shadow"><i
                class="fas fa-file-download mr-2"></i>Scarica il PDF</a>
    </div>
    <hr class="rounded mx-4">
    <div class="card-footer">
        {% for image in site.static_files %}
        {% if image.path contains 'img/faces' %}
        <img src="{{ site.baseurl }}{{ image.path }}" class="rounded-circle m-2 politician-not-agree"
            style="height: 80px; width: 80px; object-fit: cover" />
        {% endif %}
        {% endfor %}
    </div>
</div>


<div class="modal fade animate" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content animate-bottom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> ABOUT </h4>
            </div>
            <div class="modal-body">
                CONTEÚDO
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>