<div class="modal fade animate" id="modalTerritorio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content animate-bottom">
            <div class="background-image" style="background-image: url({{ include.img }});"></div>
            <div class="modal-header">
                <h2><b>Azioni</b></h2>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                        class="fas fa-times text-muted"></i></button>
            </div>
            <div class="modal-body">
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#ripartiredanoi</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#cambioprospettiva</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#sipuòfare</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#produttivo</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#artistico</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#culturale</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#olistico</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#aprirsialbello</span>

                <br>
                <br>
                <ol style="text-align: left;" class="text-muted">
                    <li>Facilitare l'apertura di centri come luoghi di incontro inclusivo e ritmo: concretizzare,
                        sperimentare e verificare;</li>
                    <li>Sostenere competenze di sviluppo software per la realizzazione di soluzioni territoriali,
                        rendere
                        sostenibili
                        le attività
                        e valorizzare le persone;</li>
                    <li>Predisporre il centro con sale arte, musica, meditazione, ricreatività, per le necessarie pause,
                        periodi di riflessione o espressione artistica;</li>
                    <li>Sostenere team pedagogisti di Learning Creative Learning e ArtEducazione per praticare "le
                        scuole di
                        samba";</li>
                    <li>Sostenere, attraverso progetti con i ragazzi, i Gruppi di Acquisto solidale come
                        sensibilizzazione
                        agli acquisti locali, buona alimentazione e produzione etica;</li>
                    <li>Creare un magazzino/punto di smistamento merci in cui si possa fare Piccola Distribuzione
                        Organizzata;</li>
                    <li>Fungere da punto di raccolta dei bisogni e smistare in modo sistematico verso realtà produttive
                        locali che li possano soddisfare;</li>
                    <li>Abilitare squadre di persone per risolvere problemi non smistati al punto precedente attraverso
                        il metodo
                        SCRUM, a iterazioni.</li>
                </ol>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>