<div class="modal fade animate" id="modalEducazione" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content animate-bottom">
            <div class="background-image" style="background-image: url({{ include.img }});"></div>
            <div class="modal-header">
                <h2><b>Azioni</b></h2>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                        class="fas fa-times text-muted"></i></button>
            </div>
            <div class="modal-body">
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#approccio-lcl</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#makerspace</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#pedagogia-del-desiderio</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#arteducazione</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#learning-by-doing</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#ripartiredanoi</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#educazionesostenibile</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                    text-muted">#scuolainnovativa</span>
                <br>
                <br>
                <ol style="text-align: left;" class="text-muted">
                    <li>Andare a conoscere, sostenere, valorizzare persone e realtà già attive o nuovi progetti
                        basati su approcci come Learning Creative Learning, ArtEducazione o Pedagogia del Desiderio;
                    </li>
                    <li>Andare a conoscere e fare un percorso con realtà che occupano di animare i MakerSpace,
                        luoghi di creatività e sperimentazione, multigenerazionale e multiculturale. Al fine di
                        confrontarsi in modo costruttivo su come aiutare e offrire risorse innescando un processo
                        win-win. In questo modo si potenziano persone del territorio già sensibilizzate;</li>
                    <li>Favorire il processo di creazione dei MakerSpace come presidi territoriali in collegamento
                        con le scuole, come luoghi di sperimentazione e crescita di conoscenze e di relazioni;
                        questo si può fare dedicando 1 persona part-time a tale scopo nelle bibilioteche dei
                        territori.</li>
                    <li>Richiedere adesione al posizionamento politico e socio-educativo del progetto DOORS agli
                        Enti del proprio territorio per coinvolgerli in Tavoli di Programmazione Territoriale
                        educativi.</li>
                </ol>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>