<div class="modal fade animate" id="modalInternet" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content animate-bottom">
            <div class="background-image" style="background-image: url({{ include.img }});"></div>
            <div class="modal-header">
                <h2><b>Azioni</b></h2>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                        class="fas fa-times text-muted"></i></button>
            </div>
            <div class="modal-body">
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                            text-muted">#sviluppo-consapevole</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                            text-muted">#tecnologie-democratiche</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#software-libero</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#conoscenza-libera</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#standard-aperti</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#open-source</span>
                <span
                    class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow text-muted">#libertà-digitali</span>
                <span class="badge badge-secondary mx-2 my-2 magic-badge-hashtag shadow
                            text-muted">#digital-freedom</span>

                <br>
                <br>
                <ol style="text-align: left;" class="text-muted">

                    <li>Aprire e divulgare in Open Data i dati degli enti pubblici in modo che le aziende possano
                        sviluppare servizi.</li>
                    <li>Sostenere infrastrutture cloud di proprietà ed italiane. Esporre servizi ben documentati per
                        sviluppatori;</li>
                    <li>Richiedere ai fornitori il rilascio della documentazione per sviluppatore (API del software)
                        per integrare diversi servizi;</li>
                    <li>Prediligere soluzioni di software libero per la PA come previsto dal Codice di
                        Amministrazione Digitale (CAD);</li>
                    <li>Avviare percorsi per la definizione di standard territoriali attraverso il modello request
                        for comment (RFC) che è alla base di Internet.</li>

                </ol>
            </div>
        </div>
    </div>
</div>